﻿@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-center align-content-center vh-100 w-100 border border-1 border-bottom-0 border-dark">
    <div class="d-flex flex-column justify-content-center align-content-center text-center w-75 h-25" style="margin-top:180px">
        <h1 class="display-6 text-bold">Welcome to Employee Management System</h1>
        <p class="text-muted">A smart solution for managing employees</p>
    </div>
</div>

