@model EmployeeDto
﻿@{
    ViewData["Title"] = "Edit Employee";
}

<div class="m-5">
    <h2>Edit Employee</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group mb-2">
            <input class="form-control-plaintext" hidden value="@ViewData["EmployeeId"]" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="FullName" class="control-label">Full Name</label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Mobile" class="control-label">Mobile</label>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="DateOfBirth" class="control-label">Date of Birth</label>
            <input asp-for="DateOfBirth" class="form-control" type="date" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <img src="/profiles/@ViewData["ImageFileName"]" width="150" />
        </div>
        <div class="form-group mb-4">
            <label class="p-0">Image</label>
            <input asp-for="ImageFile" class="form-control" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <input type="submit" value="Edit Employee" class="btn btn-primary" />
        </div>
    </form>

</div>
